h1 {
    color: rgb(225, 2, 2);
    font-size: 80px;
    margin-bottom: -5px;
    margin-top: 0;
    letter-spacing: 5px;
}
h2 {
    color: rgb(110, 0, 0);
    border: 2px solid red;
    text-align: center;
    width: 280px;
    padding: 5px;
    margin: 0 auto;
    margin-bottom: 5px;
    border-radius: 50px;
    background-color: rgba(255, 204, 214, 0.607);
}
body {
    font-family: 'Horror Type', sans-serif;
    text-align: center;
    background: url("./mario-bg.jpg");
}

#board {
    width: 540px;
    height: 540px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background: url("./soil.png");
    background-size: cover;
    border: 3px solid white;
    border-radius: 20px;
}
#board div {
    width: 180px;
    height: 180px;
    background-image: url("./pipe.png");
    background-size: cover;
}
/*Ideme nastaviť obrázok mole na menšiu veľkosť*/
#board div img {
    width: 100px;
    height: 100px;
}

#board div img {
    /* nastavenie anti-kopčenia a ťahania tilov*/
    width: 100px;
    height: 100px;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}